doctype 5
html
    head
        title BSA Tree Recycle
        style(type="text/css")
            html { height: 100% }
            body { height: 100%; margin: 0; padding: 0 }
            #map_canvas { height: 100% }

        script(
            type="text/javascript"
            src="jquery-1.9.0.min.js")
        
        script(
            type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAhxhtMPEhqRVuw2n5zs6CYJ5iv36lgs-w&sensor=false")
            
        script(type="text/javascript")
            var local_data = !{local_data};
            console.log(local_data.markers.length);

        script(type="text/javascript")
            $(document).ready(function() {
                var source = new EventSource('createmarker');
                source.onmessage = function(e) {
                    $('#output').append(e.data);
                    var latlng = JSON.parse(e.data);
                    addMarker(new google.maps.LatLng(latlng.lat, latlng.lng));
                };
            });
            
            function addMarker(location) {
              var image = new google.maps.MarkerImage("tree.gif", null, null, null, new google.maps.Size(16, 24));
              marker = new google.maps.Marker({
                position: location,
                map: map,
                icon: image
              });
            };
        
            var map;
            function initialize() {
              var mapOptions = {
                center: new google.maps.LatLng(47.56785, -122.0138),
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.ROADMAP
              };
              map = new google.maps.Map(document.getElementById("map_canvas"),
                  mapOptions);
              var blms = new google.maps.Marker({
                position: new google.maps.LatLng(47.58,-122.0056),
                title: "Beaver Lake Middle School",
                map: map
              });
              
              local_data.markers.forEach(function(element, index, array) {
                addMarker(new google.maps.LatLng(element.lat, element.lng));
              });
              
              google.maps.event.addListener(map, "click", function(event) {
                addMarker(event.latLng);
                local_data.markers.push({"lat":event.latLng.lat(), "lng":event.latLng.lng()});
                console.log(local_data.markers.length);
              });
            };
      
    body(onload="initialize()")
        p Here's the new map page!
        #output
        #map_canvas(style="width:100%; height:100%")